.vscode
.DS_Store
data

__pycache__
.pytest_cache
.mypy_cache
*.pyc
*.egg-info
dist
.venv
_version.py

build
build-cmake
target
*.so

*.nsys-rep
*.qdstrm

tarpaulin-report.html
cobertura.xml
codecov.json
codecov.txt
.coverage*
*.profraw
